<!DOCTYPE html>
<html>
<head>
    <title>Real-Time Data Plotting</title>
</head>
<body>
    <h1>Real-Time Data Plot</h1>
    <div id="plot"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            socket.emit('get_data');
        });

        socket.on('server_response', function(data) {
            var plotData = [{
                y: data.data,
                type: 'line'
            }];
            Plotly.newPlot('plot', plotData);
        });
    </script>
</body>
</html>
